<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key ="DilutionVolume" value="300"/>
    <add key ="ReactionVolume" value="200"/>
    <add key ="BufferLiquidClass" value="Buffer"/>
    <add key ="SampleLiquidClass" value="Sample"/>
    <add key ="TransferLiquidClass" value="Transfer"/>
    <add key ="ReactionVolume" value="200"/>
    <add key ="ReactionVolume" value="200"/>
    <add key ="GradualTimes" value="2"/>
  </appSettings>
</configuration>
